@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  background-image: url("./components/mountains.jpg");
  background-size: cover;
}

.App {
  text-align: center;

}


