@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.navBar {
    background: transparent;
    height: 80px;
    display: flex;
    font-size: 2.3rem;
    font-family: 'Abril Fatface';
    position: fixed;
    width: 100%;
    top: 0;
    align-self: flex-start;
}

.navBar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    max-width: 1500px;
    width:100%;
    margin: 0;
    padding: 0;
}

.left {
    height: 3px;
    background-color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    align-self: center;
    width: 53%;

}

.nav-item {
    display: flex;
}

.nav-links {
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    align-self:center;
}

.nav-links:hover {
    color: #34d399;
}